*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 40em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    height: 80%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* color: red; */
}
input[type='file']{
    font-size: 18px;
}
button{
    font-size: 18px;
}
pre {
    background-color: #fff;
    width: 35em;
    height: 15em;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
}